body {
    background-color: #9c0b0b7e;
    color: #0f31f1;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #000;
    padding: 20px;
}

h1 {
    color: #f10f0f;
}

section {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
}

.aliado, .vilao {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
}

img {
    max-width: 1023px;
    border-radius: 145px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #000;
}
